--- 
apiVersion: extensions/v1beta1
kind: Deployment
metadata: 
  name: webapp1
spec: 
  replicas: 1
  template: 
    metadata: 
      labels: 
        app: webapp1
    spec: 
      containers: 
        - 
          image: "nginx:1.7.9"
          name: webapp1
          ports: 
            - 
			 containerPort: 80
		
